.categories-box {
  padding: 20px 50px;
  margin-bottom: 100px;
}
.categories-box h1 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}
.categories-box .category-list {
  color: #f00;
  font-weight: bold;
}
.categories-box .category-list a {
  color: #000;
}
.categories-box .category-list a:visited {
  color: #000;
}
.categories-box .category-list a:hover {
  color: #2098d1;
}
.categories-box .category-list .category-list-count {
  color: #000;
}
.categories-box .category-list-item {
  margin: 10px 0px;
}
.categories-box .category-list-child {
  margin-left: 20px;
}
